@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome : Learn about Event Sourcing with ASP.NET Core.</h1>
</div>

<section>
    <h2>Plan de Présentation</h2>
    <ul>
        <li>Avantages de l'Event Sourcing</li>
        <li>Les défis de l'Event Sourcing</li>
        <li>Présentation des concepts et codes avec une application console</li>
        <li>Présentation de code avec base de données : Gestion des étudiants</li>
    </ul>
</section>
