@using Presentation.Pages.Student.Model
@model UnEnrolledStudentInputModel

<div class="modal fade" id="unEnrollStudentModal" tabindex="-1" aria-labelledby="unEnrolledStudentModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="unEnrolledStudentModalLabel">Désinscrire un étudiant à des cours</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="post" asp-page-handler="UnEnrolledStudent">
                    <input type="hidden" asp-for="Id" id="unEnrollStudentId" />
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Nom du cours</th>
                                <th>Sélectionner</th>
                            </tr>
                        </thead>
                        <tbody>
                            @for (int i = 0; i < Model.AvailableCourses.Count; i++)
                            {
                                <tr>
                                    <td>
                                        @Model.AvailableCourses[i].Name
                                        <input type="hidden" asp-for="AvailableCourses[i].Name" />
                                    </td>
                                    <td>
                                        <input type="checkbox" asp-for="AvailableCourses[i].IsSelected" />
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    <button type="submit" class="btn btn-primary">Enregistrer</button>
                </form>
            </div>
        </div>
    </div>
</div>